body {
  background-color: black;
}

#faceplate-subaru {
                background-color: #fff;                	
				width: 887px; 
				height: 526px; 
				display: inline-block;
				z-index: 1;
			}
			

@keyframes blink {
    0% {
        opacity: 1;
    }
	10% {
        opacity: .80;
    }
	20% {
        opacity: .60;
    }
	30% {
        opacity: .40;
    }
    40% {
        opacity: .20;
    }
    50% {
        opacity: 0;
    }
	60% {
        opacity: .20;
    }
	70% {
        opacity: .40;
    }
	80% {
        opacity: .60;
    }
	90% {
        opacity: .80;
    }
    100% {
        opacity: 1;
    }
}

 
#eject {
       
		animation: blink 1s;
        animation-iteration-count: 1;	
        left:calc(50% - 285px); 
        z-index: 2; 
        position:absolute; 
        top: 348px;	 
        }
		
#home {
        
		animation: blink 1s;
        animation-iteration-count: 1;	
        left:calc(50% - 18px); 
        z-index: 2; 
        position:absolute; 
        top: 390px;	 	 
        }		
#radio {
        
		animation: blink 1s;
        animation-iteration-count: 1;		
        left:calc(50% - 150px); 
        z-index: 2; 
        position:absolute; 
        top: 434px;	  
        }	
#map {
        
		animation: blink 1s;
        animation-iteration-count: 1;
        left:calc(50% - 23px); 
        z-index: 2; 
        position:absolute; 
        top: 435px;	 		 
        }
#apps {
        
		animation: blink 1s;
        animation-iteration-count: 1;
        left:calc(50% + 85px); 
        z-index: 2; 
        position:absolute; 
        top: 434px;	 		 
        }
#media {
        
		animation: blink 1s;
        animation-iteration-count: 1;	
        left:calc(50% - 30px); 
        z-index: 2; 
        position:absolute; 
        top: 480px;	 	 
        }
#back {
        
		animation: blink 1s;
        animation-iteration-count: 1;
        left:calc(50% - 135px); 
        z-index: 2; 
        position:absolute; 
        top: 478px;	 		 
        }	
#forward { 
        
		animation: blink 1s;
        animation-iteration-count: 1;	
        left:calc(50% + 100px); 
        z-index: 2; 
        position:absolute; 
        top: 478px;	 	 
        }
#percent {
        color:white;
        animation: blink 1s;
        animation-iteration-count: 1;   
        left:calc(50% + 100px); 
        z-index: 2; 
        position:absolute; 
        top: 478px;      
        }
#vol{
        animation: blink 1s;
        animation-iteration-count: 1;   
        left:calc(50% - 280px); 
        z-index: 2; 
        position:absolute; 
        top: 520px;   
        height: 50px 

        
        }
#tune{
        animation: blink 1s;
        animation-iteration-count: 1;   
        left:calc(50% + 200px); 
        z-index: 2; 
        position:absolute; 
        top: 520px;     
        }

#leftknobdigi{

        left:calc(50% - 255px);
        position:absolute;
        top: 425px;
        color: #f1405d;   
        }  

#rightknobdigi{

        left:calc(50% + 230px);
        position:absolute;
        top: 425px;
        color: #f1405d;   
        } 

#onoff{

        left:calc(50% - 35px);
        position:absolute;
        top: 530px;
        color: #f1405d;   
        }         

#pass {
       
        left:calc(50% - 620px);
        position:absolute;
        top:200px;
        }
        
#fail {
        
        left:calc(50% + 500px);
        position:absolute;
        top:200px;
        }

#nfc {
        animation: blink 1s;
        animation-iteration-count: 1;   
        left:calc(59.5% - 300px); 
        z-index: 2; 
        position:absolute; 
        top: 550px;   
        height: 25px; 
        width: 25px;
        }

#backlight {
        animation: blink 1s;
        animation-iteration-count: 1;   
        left:calc(64.5% - 300px); 
        z-index: 2; 
        position:absolute; 
        top: 545px;   
        height: 38px; 
        width: 38px;
        }

 #bias {
        animation: blink 1s;
        animation-iteration-count: 1;   
        right:calc(65% - 300px); 
        z-index: 2; 
        position:absolute; 
        top: 546px;   
        height: 35px; 
        width: 35px;
        }

#b2b {
        animation: blink 1s;
        animation-iteration-count: 1;   
        right:calc(59% - 300px); 
        z-index: 2; 
        position:absolute; 
        top: 538px;   
        height: 53px; 
        width: 53px;
        }




